MONGO_URL=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
DB_NAME=zokko
JWT_SECRET=GENERER_UNE_LONGUE_CHAINE
APP_NAME=zokko
OTP_DEV_MODE=false
STORAGE_BACKEND=local
STORAGE_LOCAL_PATH=/app/backend/data/uploads
CORS_ORIGINS=https://zokko.net,https://www.zokko.net
ADMIN_USERNAME=admin
ADMIN_PASSWORD=CHANGER_MOI
ADMIN_PHONES=612516488,659497111
ORANGE_MONEY_NUMBER=+224612516488
ORANGE_MONEY_HOLDER=Zokko
FRONTEND_BUILD=/app/frontend/build
